{% extends 'base.html' %}

{% block title %}
    Blood Bank
{% endblock %}

{% block header %}
<link rel="stylesheet" href="../static/Style/bank.css">
{% endblock %}

{% block cur_user %}
{% if(user!="" and role!="admin" and user!="favicon.ico") %}
    <li><a href="{{url_for('userDetails')}}">{{ user }}</a></li>
{% elif(user!="" and role=="admin") %}
    <li><a href="{{url_for('userDetails')}}">{{ user }}</a></li>
    <li><a href="{{url_for('login')}}">Administration</a></li>
{% else %}
    {{ super() }}
{% endif %}
{% endblock %}

{% block content %}
    <table class="tble">
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Contact</th>
        </tr>
        {% for item in items %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.address }}</td>
            <td>{{ item.phone }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
