{% extends 'base.html' %}
{% block cur_user %}
{% if(user!="" and role!="admin") %}
    <li><a href="{{url_for('userDetails')}}">{{ user }}</a></li>
{% elif(user!="" and role=="admin") %}
    <li><a href="{{url_for('userDetails')}}">{{ user }}</a></li>
    <li><a href="{{url_for('admin')}}">Administration</a></li>
{% else %}
    {{ super() }}
{% endif %}
{% endblock %}
{% block generate %}
    <section>
        <div class="landingImage"></div>
        <div class="cards">
            <div class="card1 card">
                <h2>Emergency</h2>
                <div class="card-content">
                    <p>Have an emergency? Allow us to guide you through it.</p>
                    <div class="btn"><a href="{{url_for('emergency')}}">Emergency</a></div>
                </div>
            </div>
            <div class="card2 card">
                <h2>Hospitals</h2>
                <div class="card-content">
                    <p>Looking for an availability at hospital? We will help you find it in a jiffy</p>
                    <div class="btn"><a href="{{url_for('hospitals')}}">Hospitals</a></div>
                </div>
            </div>
            <div class="card3 card">
                <h2>Blood Banks</h2>
                <div class="card-content">
                    <p>In need of blood for a surgery or wanna be a good samaritan and donate some? We got you covered. </p>
                    <div class="btn"><a href="{{url_for('bloodbank')}}">Blood Banks</a></div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
